<div class="auth-container" *ngIf="!loginVisible && !registerVisible">
    <h1>Bem-vindo ao ByBus</h1>
    <p>Sua plataforma para transporte inteligente.</p>
    <div class="auth-buttons">
        <button (click)="showLogin()">Login</button>
        <button (click)="showRegister()">Registrar</button>
    </div>
</div>
<div class="auth-container" *ngIf="loginVisible && !registerVisible">
    <h2>Login</h2>
    <form>
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Senha:</label>
        <input type="password" id="password"  name="password" required>
        
        <button type="submit">Entrar</button>
    </form>
    <button (click)="showRegister()">Registrar</button>
    </div>
    
<div class="auth-container" *ngIf="registerVisible">
    <h2>Registrar</h2>
    <form>
        <div>
            <div> <label for="new-username">Usuário:</label>
            <input type="text" id="new-username" name="new-username" required>
        </div>
        <div>  
        <label for="new-password">Senha:</label>
        <input type="password" id="new-password" name="new-password" required>    
        </div>
        
        </div>
       
        
        <button type="submit">Registrar</button>
    </form>
    <button (click)="showLogin()">Já tem uma conta? Faça login</button>
</div>
